/* h1 {
  color: white;
  background-color: black;
} */
#app {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
  --roundness: 0.5rem;

  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
  color: var(--sub-color)
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  background-color: #323437;
}

/* nav bar */
#logo {
  font-size: 1.5em;
  font-family: 'lexend deca';
  color: var(--text-color);
}
.nav-link {
  color: var(--sub-color);
  text-decoration: none; /* remove underline*/
}

.nav-link:hover{
  color: var(--caret-color);
}
.navbar {
  margin-top: 30px;
  overflow: hidden;
  font-size: 20px;
}

/*form*/
input, textarea, .displayCard{
  outline: none;
  border: none;
  border-radius: var(--roundness);
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.recipient-input {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 1%;
}
textarea {
  font-size: 20px;
}

.login {
  margin-top: 20%;
  text-align: center;
}

.login .title {
  margin-bottom: 2%;
}

.title {
  color: var(--sub-color);
}

input {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2%;
}

.login-btn, .post-btn {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  width: 100%;
}

.login-btn:hover, .post-btn:hover {
  color: var(--caret-color);
}


/* home */
.hello-msg {
  color: var(--main-color);
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.displayCard {
  margin-bottom: 3%;
}